node_modules
# Keep environment variables out of version control
.env
.env.prod

/generated/prisma

.vscode/

docs
generated

uploads/

personal-notes.md
DATABASE_SCHEMA_FLOW.md
EMAIL_FIX_GUIDE.md

dist/